.DS_Store
Desktop_cpu/data/latency/*/*/*.json
Desktop_cpu/data/latency_dis
Desktop_cpu/data/memory/*/raw_data/*.json

Jetson_cpu_gpu/cpu_latency/data/raw_data/
Jetson_cpu_gpu/cpu_memory/data/*/raw_data/*.json

# Mobile_cpu_gpu/gpu_latency_cpu_memory_tflite/data/results/*.json
Mobile_cpu_gpu/onnx_models/*.onnx
Mobile_cpu_gpu/tflite_models/*.tflite
Mobile_cpu_gpu/onnx_models_op12/*.onnx
Mobile_cpu_gpu/tf_models/
Mobile_cpu_gpu/cpu_latency_ort/data/results/*.json
Mobile_cpu_gpu/old/*