.DS_Store
server_cpu/data/latency/*/*/*.json
server_cpu/data/latency_dis
server_cpu/data/memory/*/raw_data/*.json

jetson_cpu_gpu/data/cpu_latency/raw_data/
jetson_cpu_gpu/data/cpu_memory/*/raw_data/*.json

# mobile_cpu_gpu/gpu_latency_cpu_memory_tflite/data/results/*.json
mobile_cpu_gpu/onnx_models/*.onnx
mobile_cpu_gpu/tflite_models/*.tflite
mobile_cpu_gpu/onnx_models_op12/*.onnx
mobile_cpu_gpu/tf_models/
mobile_cpu_gpu/cpu_latency_ort/data/results/*.json
